.StaticGraphSection {
    [class~="wrapper"] {
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 1em;
        line-height: 1.5;
    }

    img {
        width: 100%;
        background-color: white;
    }
}