.MoreDetailsSection {
    background-color: transparent;
    padding-bottom: 0;
    line-height: 1.5;

    img {
        width: calc(100% + 4em);
        margin-left: -2em;
        margin-right: -2em;
        margin-bottom: -2em;
    }
}