.DescriptionSection {
    background-color: transparent;
    padding-bottom: 0;

    img {
        width: calc(100% + 4em);
        margin-left: -2em;
        margin-right: -2em;
        margin-bottom: -2em;
    }

    [class~='list'] {
        text-align: left;
        width: 30%;
        margin: 0 auto;
    }
}