.WordcloudSection {

    background-color: transparent;

    [class~="wordcloud-column"] {
        margin-right: 1em;
    }

    [class~="select"] {
        color: black;
        margin-bottom: 1em;
    }

    [class~="wrapper"] {
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 1em;
        line-height: 1.5;
    }

}